body{
  margin:0;
  box-sizing: border-box;
  display:flex;
}
.total{
  margin-top: 60px;
  width:100%;
  height:100%;
  display: flex;

}

.central{
  background: lightgrey;
  width:80%;
  margin: 0 10% 0 10%;
  height:100%;
}

.contenedor{
  background-color: grey;
  width:70%;
  margin: 100px auto 100px auto;
  display:block;
}

a:link, a:visited{
  text-decoration:none;
  color:white;
}
li{
  margin: 12px 0 12px 0;
}
a:hover{
  color: #DE6709;
}
.logo{
  width:100px;
  margin-top:8px;
}

.linkNav {
  margin: auto;
  color: white;
  padding-top: 15px;
}
#navBar{
  width:100%;
  height: 60px;
  padding:0;
  background-color: black;
  position:fixed;
  display:flex;
}
