body{
  margin: 0;
  background-color: #474747;
  color: white;
  font-family: 'Alata';
  font-size: 18px;
}

a:link, a:visited{
  text-decoration:none;
  color:white;
}
li{
  margin: 12px 0 12px 0;
}
a:hover{
  color: #DE6709;
}

.contenedor{
 padding: 100px 80px 50px 80px;
}

.logo{
  width:100px;
  margin-top:8px;
}

.linkNav {
  margin: auto;
  color: white;
  padding-top: 15px;
}
#navBar{
  width:100%;
  height: 60px;
  padding:0;
  background-color: black;
  position:fixed;
  display:flex;
}
